<header>


      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link "  href="/"><h1>Головна</h1></a>
        <a class="nav-link" href="/news"><h1>Новини</h1></a>

      </nav>

  <style>
   p {

    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
  </style>
  <h2 style="font-style:italic" class="vc_custom_heading h-lg"><p>Обслуговуйте автомобілі у кращій майстерні міста</h2>
</header>




<div class="page-footer page-footer-2">
    <div class="footer-content">
            <div class="container">
            <div class="footer-col-left">
                <div class="inside">
                    <h1>Контактна інформація</h1>
                                        <div class="contact-info"><i class="icon icon-locate"></i><h2>м. Черкаси, вул. Чигиринська, 456                    </div>
                                                            <div class="contact-info"><i class="icon icon-phone"></i>
                        <a href="tel:0472-71-63-57 <br>050-332-11-20"><h2>0472-71-63-57</h2> <h2>050-332-11-20</h2></a>
                    </div>
                                                            <div class="contact-info-divider"></div>
                    <h2>ЧАС РОБОТИ</h2>
                                        <div class="contact-info"><i class="icon icon-clock"></i><h2>Пн-пт: 8:00-18:00 <br><h2>Сб: 9:00-15:00 </h2><br><h2>Нд: вихідний                 </h2>   </div>
                                    </div>
            </div>
        </div>
                <div class="footer-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10384.47596488724!2d32.1110621!3d49.4066554!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x102db11ab7975f6d!2z0JDQhtChINCn0LXRgNC60LDRgdC4!5e0!3m2!1sru!2sua!4v1596526023900!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
                   </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright"><div id="contacts" class="row-flex">
	<div class="col-left">
		<picture><source data-srcset="https://sto.cherkassy.ais.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/07/ais_cherkasy.png.webp" type="image/webp" srcset="https://sto.cherkassy.ais.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/07/ais_cherkasy.png.webp"><img src="https://sto.cherkassy.ais.ua/wp-content/uploads/2020/07/ais_cherkasy.png" data-src="https://sto.cherkassy.ais.ua/wp-content/uploads/2020/07/ais_cherkasy.png" class="webpexpress-processed lazy loaded" data-was-processed="true"></picture>

            </div>
        </div>
    </div>
</div>
